.latest-trailers .swiper {
  overflow: visible !important;
}

.latest-trailers .swiper-wrapper {
  overflow: visible !important;
}

.latest-trailers .swiper-slide {
  overflow: visible !important;
}

.popular-movies .swiper {
  overflow: visible !important;
}

.popular-movies .swiper-wrapper {
  overflow: visible !important;
}

.popular-movies .swiper-slide {
  overflow: visible !important;
}

.popular-tv .swiper {
  overflow: visible !important;
}

.popular-tv .swiper-wrapper {
  overflow: visible !important;
}

.popular-tv .swiper-slide {
  overflow: visible !important;
}