@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  margin: 0;
  padding-top: 21px;
  overflow-x: hidden;
}