@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding-top: 0px;
  overflow-x: hidden;
}

@media screen and (min-width: 425px) {
  body {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 170px;
  }
}

@media screen and (min-width: 803px) {
  body {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1249px) {
  body {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding-top: 28px;
  }
}